HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# --- Terraform (Infraestructura) ---
# La carpeta pesada con los plugins descargados
.terraform/

# Archivos de estado (¡NUNCA subir esto, contiene tus contraseñas!)
*.tfstate
*.tfstate.*

# Archivos de variables con secretos (por si acaso creas uno a futuro)
*.tfvars
*.tfvars.json

# Logs de errores
crash.log